@page "/"
@rendermode InteractiveWebAssembly
@using Microsoft.JSInterop
@using global::Fishzor.Client.Components
@inject IJSRuntime JSRuntime

<style>
    #fishTank {
        width: 100%;
        height: 100%;
    }
</style>

<div id="fishTank">
    <PageTitle>Fishy fishy fish</PageTitle>

    <button type="button"  class="btn btn-primary btn-sm" @onclick="AddFish">Add fish</button>
    <button type="button"  class="btn btn-primary btn-sm" @onclick="RemoveFish" disabled="@(_fishComponents.Count == 0)">Remove fish</button>
    @foreach (var fish in _fishComponents)
    {
        @fish
    }
</div>

@code {
    private List<RenderFragment> _fishComponents = new();

    private void AddFish()
    {
        // Create a new RenderFragment representing the Fish component
        // and position it using style
        var fishFragment = new RenderFragment(builder =>
        {
            var seq = 0;
            builder.OpenElement(seq++, "div");
            builder.OpenComponent<Components.Fish>(seq++);
            builder.CloseComponent();
            builder.CloseElement();
        });

        _fishComponents.Add(fishFragment);
    }

    private void RemoveFish()
    {
        if (_fishComponents.Count > 0)
        {
            _fishComponents.RemoveAt(_fishComponents.Count - 1);
        }
    }
}