@page "/"
@rendermode InteractiveWebAssembly
@using Microsoft.JSInterop
@using global::Fishzor.Client.Components
@inject IJSRuntime JSRuntime

<style>
    #fishTank {
        width: 100%;
        height: 100%;
        position: relative;
    }
</style>

<div id="fishTank">
    <PageTitle>Fishy fishy fish</PageTitle>

    <button type="button" class="btn btn-primary btn-sm" @onclick="AddFish">Add fish</button>
    <button type="button" class="btn btn-primary btn-sm" @onclick="RemoveFish"
        disabled="@(_fishComponents.Count == 0)">Remove fish</button>
    @foreach (var fishComponent in _fishComponents)
    {
        @fishComponent
    }
</div>

@code {
    private List<RenderFragment> _fishComponents = new();

    private void AddFish()
    {
        _fishComponents.Add(new RenderFragment(builder =>
        {
            builder.OpenComponent<Fish>(0);
            builder.CloseComponent();
        }));
        StateHasChanged();
    }

    private void RemoveFish()
    {
        if (_fishComponents.Count > 0)
        {
            _fishComponents.RemoveAt(_fishComponents.Count - 1);
            StateHasChanged();
        }
    }
}