@page "/"
@rendermode InteractiveWebAssembly
@using global::Fishzor.Client.Components
@using Fishzor.Client.State
@inject FishTankState FishTankState
@implements IDisposable

<style>
    #fishTank {
        width: 100%;
        height: 100%;
        position: relative;
    }
</style>

<script>
    // this is declared here but used over in Fish.razor
    window.getTankRect = () => {
        var element = document.getElementById("fishTank");
        if (!element) return null;

        return element.getBoundingClientRect();
    }
</script>

<div id="fishTank">
    <PageTitle>Fishy fishy fish</PageTitle>

    @for (int i = 0; i < FishTankState.FishCount; i++)
    {
        <Fish />
    }
</div>

@code {
    protected override void OnInitialized()
    {
        FishTankState.OnStateChanged += StateHasChanged;
    }

    public void Dispose()
    {
        FishTankState.OnStateChanged -= StateHasChanged;
    }
}