@inject FishTankState FishTankState

<div class="chat-messages">
    @foreach (var message in FishTankState.Messages)
    {
        <div class="message @GetMessageClass(message)" style="background-color: @message.Color.GetColorRgba();">
            <span class="message-text @(message.ClientId == FishTankState.ClientConnectionId ? "own-message" : "")">
                @message.Message
            </span>
        </div>
    }
</div>

<style>
    .chat-messages {
        position: fixed;
        top: 10px;
        left: 10px;
        max-width: 300px;
        max-height: 50vh;
        overflow-y: auto;
        border-radius: 5px;
        padding: 10px;
    }

    .message {
        margin-bottom: 10px;
        padding: 5px 10px;
        border-radius: 15px;
        color: #333;
        text-shadow: none;
    }

    .own-message {
        font-weight: bold;
        font-style: italic;
    }

    .message-text {
        word-wrap: break-word;
    }
</style>

@code {
    protected override void OnInitialized()
    {
        FishTankState.OnMessageReceived += (message) => InvokeAsync(StateHasChanged);
    }

    private string GetMessageClass(FishMessage message) =>
    message.ClientId == FishTankState.ClientConnectionId ? "own-message" : "other-message";
}