@inherits LayoutComponentBase
<style>
    #mainView {
        background-image: url('images/background.jpg');
        background-size: cover;
        /* This will cover the entire area */
        background-position: center;
        /* This centers the image */
        background-repeat: no-repeat;
        /* This prevents the image from repeating */
    }
</style>

<div class="page" style="height: 100vh;">
    @*
    <div class="sidebar">
    <NavMenu />
    </div>
    *@

    <main style="height: 100%;">
        @* <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Fishy fishy fish</span>
        <span class="navbar-text">
        <a href="https://github.com/dkackman/Fishzor" target="_blank">About</a>
        </span>
        </div>
        </nav> *@

        <article id="mainView" class="content px-4" style="height:100%">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
