@inherits LayoutComponentBase
<style>
    #mainView {
        background-image: url('images/background.jpg');
        background-size: cover;
        /* This will cover the entire area */
        background-position: center;
        background-repeat: no-repeat;
    }

    #mainView::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.3);
        /* White overlay with 30% opacity */
        pointer-events: none;
        /* Allows clicks to pass through to elements below */
    }

    #mainView>* {
        position: relative;
        /* Ensures content is above the overlay */
    }
</style>

<div class="page" style="height: 100vh;">
    <main style="height: 100%;">
        <article id="mainView" class="content px-4" style="height:100%">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
