@inherits LayoutComponentBase
@using Fishzor.Client.Components

<div class="page" style="height: 100vh;">
    <main style="height: 100%;">
        <article id="mainView" class="content px-4" style="height:100%">
            @Body
        </article>
    </main>
    <ChatInput />
</div>

<style>
    #mainView {
        background-image: url('images/background.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    #mainView::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.3);
        pointer-events: none;
    }

    #mainView>* {
        position: relative;
    }
</style>
