@using Fishzor.Client.State
@rendermode InteractiveWebAssembly
@inject FishTankState FishTankState

<div class="top-row ps-3 navbar navbar-dark" role="navigation">
    <div class="container-fluid">
        <a class="navbar-brand" href="" aria-label="Fishzor home">Fishzor</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" aria-label="Toggle navigation menu" />
